In [5]:
print("HI")

HI

**IF you want to rrun the cell . press Shift+Enter**

## Variable and Data Type

In [14]:
a=10
print (a)
print (type(a)) #integer
b=10.5
print (b)
print (type(b)) #float

10
<class 'int'>
10.5
<class 'float'>

In [30]:
name = "Labbi"
print (name) 
print (type(name))
print (len(name))

str1="I Love "
str2="Python"
print(str1+str2)

Labbi
<class 'str'>
5
I Love Python

In [36]:
a = True
print(a)
print(type(a))

True
<class 'bool'>

## Operator And Expression
1. Assingment Operator
2. Arithmetic Operator
3. Logical Operator

In [64]:
a=10
b=20

print(a+b)
print(a-b)
print(a*b)
print(a/b) # floating point
print(a//b) # Integer devision
print(a%b)
print(a**2) #power

30
-10
200
0.5
0
10
100

## Logical Operator

In [73]:
a= 10
b=20
print(a>b)
print (a<b)
print(a>=b)
print (a<=b)
print(a==b)
print (a!=b)

False
True
False
True
False
True

In [77]:
a=10
b=20
c=30

print((a>b) & (b>c))
print((a>b) and (b>c))
print((a>b) | (b>c))
print((a>b) or (b>c))

False
False
False
False

## Condition

In [82]:
a= 10
b= 20
if a>b:
    print("a is greater than B")
else:
    print("a is less than b ")

a is less than b

In [92]:
age = 16

if age<18:
    print("Not Adult")
elif age<18 and age <=50:
    print("Adult")
else:
    print("OLD")

Not Adult

## Loop

In [102]:
print(range (10))
print(type(range (10)))
a=range (0,5)
print (a)

range(0, 10)
<class 'range'>
range(0, 5)

In [126]:
for i in range(5):
    print (i,end=" ")
print("\n")
for i in range(5):
    print (i,end="\n")
print("\n")
for i in range(-5,5):
    print (i,end=" ")

0 1 2 3 4

0
1
2
3
4


-5 -4 -3 -2 -1 0 1 2 3 4

In [128]:
for i in range(0,10,2):
    print (i,end="\t")

0	2	4	6	8

In [130]:
for i in range(10,0,-2):
    print (i,end="\t")

10	8	6	4	2